<h2>About me</h2>
<h5>My name is Mikail Kieser</h5>
<div class="row">
    <div class="col">
        <p>
            I’m currently 23 years old. I studied Electronic Engineering at the University of Pretoria for a few years, completing 80% of my credits.
            Currently, I'm in my second year of studying BIT Information Systems (Entrepreneurship).
            <br />
            <br />
            The engineering provided me with a mild background in coding, and I have a comparatively extensive one in computers.
            I know Python, C# some C++, a little Assembly and some VHDL - all languages used extensively by engineers.
            More recently, I've learnt HTML, CSS, JavaScript (and some jQuery), even more C#.
            I built my first PC when I was 13, and have loved everything computers every since.
            <br />
            <br />
            INF272 has proven challenging at times, but remained enjoyable. This is partly due to my interest in coding, and partly due to the lecturers
            doing well to keep us engaged.
            Fortunately, the basics of coding remain the same across most languages, so I have an advantage when learning new ones.
        </p>
    </div>
    <div class="col ">
        <img src="@Url.Content("~/Media/my_image/i-am-mikail-kieser.jpg")" class="w-100 mx-auto" />
    </div>
    
</div>
